@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #312c85;      
    --color-secondary: #333842;    
    /* --color-third: #575d69;         */
    --color-third: #1e2939;        
    --color-background: #ffffff;   
    --color-main: #F9FAFB;         
    --color-btn: #4F39F6;     
    --color-border: #d1d5dc;    
}

.dark {
    --color-primary: #818cf8;     
    --color-secondary: #9ca3af;    
    --color-third: #d1d5db;        
    --color-background: #1b2847;   
    --color-main:  #0f172a;         
    --color-btn: #4F39F6;          
    --color-border: #5944f5c2;    
}

body {
    background-color: var(--color-main); 
    color: var(--color-primary);
    transition: background-color 0.3s;
}

html,
body {
    height: 100%;
    /* color: #575d69; */
}
