@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #4f39f6;      
    --color-secondary: #475569;   
    --color-third: #1e293b;       
    --color-fourth: #64748b;      
    --color-five: #94a3b8;       
    --color-background: #ffffff;  
    --color-main: #f8fafc;         
    --color-btn: #4f46e5;        
    --color-border: #e2e8f0;      
}

.dark {
    --color-primary: #4f39f6;     
    --color-secondary: #94a3b8;   
    --color-third: #e2e8f0;       
    --color-fourth: #cbd5e1;      
    --color-five: #94a3b8;        
    --color-background: #0f172a;  
    --color-main: #020617;         
    --color-btn: #6366f1;          
    --color-border: #334155;      
}

body {
    background-color: var(--color-main); 
    color: var(--color-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
    height: 100%;
}